
.produto-modas{

text-align: center;
background-color:#BB86FC;
font-size: 3.5ex;
}


.produto-casa{
    text-align: center;
    background-color:#00C4B4;
     font-size: 3.5ex;

}



.todos-produtos{

text-align: center;
background-color: #424250;
color: white;
font-size: 3.5ex;
}